In [9]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

import os

past_data=pd.read_csv("./data.csv")
past_data.head()

,GameNumber,Year,Month,Day,Time,Pairing1,Pairing2,Score1,Score2,TimeSpent
0,1,2025,1,31,3:15,Alvin_Simon,Ethan_Alex,19,21,23

In [16]:
hour=[]
minute=[]

for i in range(len(past_data)):
    time=list(map(int,str(past_data.loc[i]["Time"]).split(":")))
    hour.append(time[0])
    minute.append(time[1])

past_data["Hour"]=hour
past_data["Minute"]=minute

In [17]:
past_data.head()

,GameNumber,Year,Month,Day,Time,Pairing1,Pairing2,Score1,Score2,TimeSpent,Hour,Minute
0,1,2025,1,31,3:15,Alvin_Simon,Ethan_Alex,19,21,23,3,15

In [ ]:


# Replacing empty ages, can do regression later on
ageTrain = train_data.loc[train_data.Age.notnull()]["Age"]
avgAgeTrain = sum(ageTrain)/len(ageTrain)

train_data.loc[train_data['Age'].isnull(),'Age'] = avgAgeTrain

d = {'C': 0, 'Q': 1, 'S': 2}
train_data['Embarked'] = train_data['Embarked'].map(d)
# Adjust all null embarked to 0
train_data.loc[train_data['Embarked'].isnull(),'Embarked'] = 0

In [ ]:
# Replacing empty ages, can do regression later on
ageTest = test_data.loc[test_data.Age.notnull()]["Age"]
avgAgeTest = sum(ageTest)/len(ageTest)

test_data.loc[test_data['Age'].isnull(),'Age'] = avgAgeTest

d = {'C': 0, 'Q': 1, 'S': 2}
test_data['Embarked'] = test_data['Embarked'].map(d)
# Adjust all null embarked to 0
test_data.loc[test_data['Embarked'].isnull(),'Embarked'] = 0
test_data.loc[test_data['Fare'].isnull(),'Fare'] = 7

In [ ]:
print(test_data.loc[test_data['Fare'].isnull()])

In [ ]:
from sklearn.ensemble import RandomForestClassifier

y = train_data["Survived"]

features = ["Pclass", "Sex", "Age","SibSp", "Parch","Embarked","Fare"]

X = pd.get_dummies(train_data[features])
print(X)
X_test = pd.get_dummies(test_data[features])
print(X_test)
model = RandomForestClassifier(n_estimators=200, max_depth=5, random_state=1)
model.fit(X, y)
predictions = model.predict(X_test)

output = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': predictions})
output.to_csv('submission.csv', index=False)
print("Your submission was successfully saved!")

In [ ]:
submission = pd.read_csv("./submission.csv")
submission.head()